/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}


ul.bjqs-controls li{
    display:inline;
}

ul.bjqs-controls li a{
    text-decoration:none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7em;
    color: #eaeaea;
}

ul.bjqs-controls li.bjqs-next a{float:right; margin-top: 5px;}
ul.bjqs-controls li.bjqs-prev a{float:left; margin-top: 5px;}

ol.bjqs-markers li a{
    padding:5px 10px;
    text-decoration:none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.7em;
    color: #eaeaea;
}

ol.bjqs-markers li.active-marker a{
    text-decoration:underline;
}
li.bjqs-slide img {
    display:block;
    margin:auto;
}