.mycols {
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.mynav {
    margin-top:10px;
}

#mygallery{
    margin-bottom:60px;
    margin:0 auto;
}

body {
    overflow:hidden;
}

ul.bjqs-controls li{
    display:inline;
}

ul.bjqs-controls li a{
    text-decoration:none;
}

ul.bjqs-controls li.bjqs-next a{float:right; margin-top: 5px;}
ul.bjqs-controls li.bjqs-prev a{float:left; margin-top: 5px;}

ol.bjqs-markers li a{
    padding:5px 10px;
    text-decoration:none;
}

ol.bjqs-markers li.active-marker a{
    text-decoration:underline;
}
li.bjqs-slide img {
    display:block;
    margin:auto;
}