body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    margin-bottom: 0.5em;
}

#header {
    margin-top: 0.3em;
    text-align: center;
}

#header a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #eaeaea;
    margin-right: 1em;
}

#links a {
    text-decoration: underline;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
    margin-left: 1em;
    margin-right: 1em;
    color: #888;
}

#mygallery {
    margin: 0 auto;
    margin-top: 0.4em;
    width: 80%;
    height: auto;
}

#about {
    text-align: center;
    margin-top: 15em;
    font-size: 1em;
    font-weight: 400;
    color: #eaeaea;
}